<html>
  <body>
    <h1>Club</h1>
    <h2>{{club.name}}</h2>
    <p>address : {{club.address}}</p>
    <p>internal id : {{club.id}}</p>
    <h3>Tournaments</h3>
    <ul>
    	{% for tournament in tournaments %}
    	<li>Du {{tournament.startDate|date("d/m/Y")}} au {{tournament.endDate|date("d/m/Y")}} avec {{tournament.ja}}</li>
    	{% endfor %}
    </ul>
  </body>
</html>
